.App {
  text-align: center;
}

#header-wrapper {
  display: flex;
  height: 4em;
  background-color: #052849;
  justify-content: left;
  align-items: center;
}

#header-wrapper #logo {
  height: 2em;
  margin-left: .5em;
}

#product-wrapper {
  display: flex
}

#product-sidebar {
  flex-basis: 15%;
}

#product-main {
  flex-basis: 82%;
}

#product-main table {
  width: 100%;
}